# Игнорировать файлы IDE
.idea/
.vscode/
*.sln
*.suo
*.user

# Игнорировать временные файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать специальные файлы Python
pycache/
*.pyc
*.pyo
*.pyd
*.pdb

# Игнорировать виртуальные окружения
venv/
env/
.venv/
.env/

# Игнорировать файлы журналов
*.log

# Игнорировать файлы настроек и секретные параметры
*.env
*.secret

# Игнорировать файлы базы данных
*.sqlite3
*.db

# Игнорировать файлы командных настроек
.coverage
.cache
nosetests.xml
coverage.xml

# Игнорировать файлы командных автоматов, сборки, артефактов
dist/
build/
*.egg-info/